<div class="designContainer"  [hidden]="!executeClicked">
  <div id="container">
    <button type="button" class="btn btn-outline-primary" [(colorPicker)]="horColor" [cpPresetColors]="horCPArray" [cpAlphaChannel]="'disabled'" (cpToggleChange)="presetColorSetter($event, true)"><i class="material-icons" [style.color]="horColor">color_lens</i>Warp</button>
    <button type="button" class="btn btn-outline-primary" [(colorPicker)]="verColor" [cpPresetColors]="verCPArray" [cpAlphaChannel]="'disabled'" (cpToggleChange)="presetColorSetter($event, false)"><i class="material-icons" [style.color]="verColor">color_lens</i>Weft</button>
  </div>
  <div id="canvasContainerUp">
      <canvas style="display:block; margin-bottom:5px;" id="horColorCanvas" width="0" height="0" (click)="colorBarListener($event, true)">
      </canvas>
      <canvas id="horCanvas" width="0" height="0" canvasDrawing [isDesign]="!isDesign" [eventListener]="horCanvasListener.bind(this)">
      </canvas>
      <canvas id="resultCanvas" width="0" height="0" canvasDrawing [isDesign]="!isDesign" [eventListener]="resultCanvasListener.bind(this)">
      </canvas>
  </div>
  <div id="canvasContainerDown">
      <canvas id="mainCanvas" width="0" height="0" canvasDrawing [isDesign]="isDesign" [eventListener]="mainCanvasListener.bind(this)">
      </canvas>
      <canvas id="verCanvas" width="0" height="0" canvasDrawing [isDesign]="!isDesign" [eventListener]="verCanvasListener.bind(this)">
      </canvas>
      <canvas id="verColorCanvas" width="0" height="0" (click)="colorBarListener($event, false)">
      </canvas>
  </div>
</div>
<button (click)="save()" *ngIf="loggedIn()">Save!</button>
<button (click)="execute()">
  click me
</button>
<button (click)="makeDesign()">
  make design
</button>
<button (click)="changeSize()">
  change size
</button>
<button (click)="changeSize(true)">
  update shaft
</button>
<button (click)="fillColorRow(true)">
  fill warp color
</button>
<button (click)="fillColorRow(false)">
  fill weft color
</button>
<label for="shaft">Shaft</label>
<input type="number" id="shaft" [(ngModel)]="shaft">
<label for="heddles">Heddles</label>
<input type="number" id="heddles" [(ngModel)]="heddles">
<label for="lines">Lines</label>
<input type="number" id="lines" [(ngModel)]="lines">
<label for="size">Size</label>
<input type="number" id="size" [(ngModel)]="rectSize">
<a href="#" class="button" id="btn-download" download="my-file-name.png" (click)="saveToPng()">Download</a>