<div id="canvasDrawingContainer">
  <div class="createNewCanvas" id="createNewCanvas">
    <label class="mr-1" *ngIf="!isDesign" for="shaft">Shaft (threads):</label>
    <input #shaft [hidden]="isDesign" class="textboxHighlight mxw-5" type="number" min="1" max="100" id="shaft" [(ngModel)]="visibleShaft" >
    <label class="mr-1" for="heddles">Heddles (width):</label>
    <input #heddles class="textboxHighlight mxw-5" type="number" min="1" max="500" id="heddles" [(ngModel)]="visibleWidth">
    <label class="mr-1" for="lines">Lines (height):</label>
    <input #lines class="textboxHighlight mxw-5" type="number" min="1" max="500" id="lines" [(ngModel)]="visibleHeight">
    <button class="ml-3 btn btn-secondary" (click)="createNewCanvas(shaft.value, heddles.value, lines.value)">
      Create new canvas
    </button>
  </div>
  <hr>
  <button class="btn btn-outline-primary btn-sm" style="position: fixed; z-index: 1;" data-toggle="collapse" data-target="#toolbelt" aria-expanded="true" (click)="hideMenuClicked = !hideMenuClicked" [hidden]="!executeClicked"><span [hidden]="hideMenuClicked">Hide menu</span><span [hidden]="!hideMenuClicked">Show menu</span></button>
  <div class="containerLeft collapse show" style="margin-top: 30px;" id="toolbelt" [hidden]="!executeClicked">
    <table style="display: block">
      <tr>
        <th>
          Menu
        </th>
      </tr>
      <table>
        <tr *ngIf="isDesign">
          <td>
            <button class="btn btn-secondary" style="margin-bottom: 5px" (click)="makeDesign()">
              Make design
            </button>
          </td>
        </tr>
        <tr>
          <th>
            Visual changes
          </th>
        </tr>
        <tr>
          <td>
            <input #rectSize class="textboxHighlight mxw-5" type="number" id="size" [(ngModel)]="visibleRectSize">
            <button class="btn btn-outline-primary btn-sm ml-1" (click)="changeRectSize(rectSize.value)">
              Change size
            </button>
          </td>
        </tr>
        <tr *ngIf="!isDesign">
          <input #updateShaft class="textboxHighlight mxw-5" type="number" id="updateShaft" [(ngModel)]="visibleShaft">
          <button class="btn btn-outline-primary btn-sm ml-1" (click)="changeShaftSize(updateShaft.value)">
            update shaft
          </button>
        </tr>
        <tr>
          <td>
            <button class="btn btn-outline-primary btn-sm" (click)="showReverse()">
              show reverse
            </button>
          </td>
        </tr>
      </table>
    </table>
    <table style="display: block">
      <tr>
        <th>
          Color options
        </th>
      </tr>
      <table>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm" [(colorPicker)]="horColor" [cpPresetColors]="horCPArray" [cpAlphaChannel]="'disabled'" (cpToggleChange)="presetColorSetterHor($event)"><i class="material-icons" [style.color]="horColor">color_lens</i>Warp</button>
          </td>
          <td>
            <button class="btn btn-outline-primary btn-sm" (click)="fillHorColorRow()">
              <i class="material-icons">format_color_fill</i>fill
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm" [(colorPicker)]="verColor" [cpPresetColors]="verCPArray" [cpAlphaChannel]="'disabled'" (cpToggleChange)="presetColorSetterVer($event)"><i class="material-icons" [style.color]="verColor">color_lens</i>Weft</button>
          </td>
          <td>
            <button class="btn btn-outline-primary btn-sm" (click)="fillVerColorRow()">
              <i class="material-icons">format_color_fill</i>fill
            </button>
          </td>
        </tr>
      </table>
    </table>
    <table *ngIf="isAdditionMode" style="display: block">
      <tr>
        <th>
          Add rows
        </th>
      </tr>
      <table>
        <tr>
          <th>
          </th>
          <th>
            <button [disabled]="height > 499" class="btn btn-success btn-sm" id="up" (click)="addRowsToMainCanvas($event)">
              ^
            </button>
          </th>
          <th>
          </th>
        </tr>
        <tr>
          <th>
            <button [disabled]="width > 499" class="btn btn-success btn-sm" id="left" (click)="addRowsToMainCanvas($event)">
              <
            </button>
          </th>
          <th>
            <button class="btn btn-success btn-sm" id="add" (click)="isAdditionMode = !isAdditionMode">
              +
            </button>
          </th>
          <th>
            <button [disabled]="width > 499" class="btn btn-success btn-sm" id="right" (click)="addRowsToMainCanvas($event)">
              >
            </button>
          </th>
        </tr>
        <tr>
          <th>
          </th>
          <th>
            <button [disabled]="height > 499" class="btn btn-success btn-sm" id="down" (click)="addRowsToMainCanvas($event)">
              v
            </button>
          </th>
          <th>
          </th>
        </tr>
      </table>
    </table>
    <table *ngIf="!isAdditionMode" style="display: block">
      <tr>
        <th>
          Delete rows
        </th>
      </tr>
      <table>
        <tr>
          <th>
          </th>
          <th>
            <button [disabled]="height < 2" class="btn btn-danger btn-sm" id="up" (click)="deleteRowsFromMainCanvas($event)">
              ^
            </button>
          </th>
          <th>
          </th>
        </tr>
        <tr>
          <th>
            <button [disabled]="width < 2" class="btn btn-danger btn-sm" id="left" (click)="deleteRowsFromMainCanvas($event)">
              <
            </button>
          </th>
          <th>
            <button class="btn btn-danger btn-sm" id="subtract" (click)="isAdditionMode = !isAdditionMode">
              -
            </button>
          </th>
          <th>
            <button [disabled]="width < 2" class="btn btn-danger btn-sm" id="right" (click)="deleteRowsFromMainCanvas($event)">
              >
            </button>
          </th>
        </tr>
        <tr>
          <th>
          </th>
          <th>
            <button [disabled]="height < 2" class="btn btn-danger btn-sm" id="down" (click)="deleteRowsFromMainCanvas($event)">
              v
            </button>
          </th>
          <th>
          </th>
        </tr>
      </table>
    </table>
    <table style="display: block">
      <tr>
        <th>
          Take canvas to:
        </th>
      </tr>
      <tr>
        <td>
          <a class="btn btn-outline-primary btn-sm" *ngIf="isDesign" (click)="shareData()" [routerLink]=" ['/maker']" routerLinkActive="active">
            Pattern maker
          </a>
          <a class="btn btn-outline-primary btn-sm" *ngIf="!isDesign" (click)="shareData()" [routerLink]=" ['/design']" routerLinkActive="active">
            Weave design
          </a>
        </td>
      </tr>
      <tr>
        <th>
          Other actions
        </th>
      </tr>
      <tr>
        <td>
          <a href="#" class="btn btn-outline-primary btn-sm" id="btn-download" download="my-file-name.png" (click)="saveToPng()">Download canvas image</a>
        </td>
      </tr>
      <tr>
        <td>
          <label *ngIf="!loggedIn()" style="max-width:130px">You need to be logged in to save</label>
          <button class="btn btn-secondary" id="saveToUser" *ngIf="loggedIn()" data-toggle="modal" data-target="#exampleModal">Save!</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="designContainer containerRight" style="margin-top: 50px;" [hidden]="!executeClicked">
    <div id="canvasContainerUp">
        <canvas id="horColorCanvas" width="0" height="0" (click)="horColorBarListener($event)">
        </canvas>
        <div style="display: flex;">
          <canvas style="margin-bottom:5px; margin-right:5px" id="horCanvas" width="0" height="0" canvasDrawing [isDesign]="!isDesign" [eventListener]="horCanvasListener.bind(this)">
          </canvas>
          <canvas style="margin-bottom:5px;" id="resultCanvas" width="0" height="0" canvasDrawing [isDesign]="!isDesign" [eventListener]="resultCanvasListener.bind(this)">
          </canvas>
        </div>
    </div>
    <div id="canvasContainerDown">
        <div style="display: flex;">
          <canvas style="margin-right:5px" id="mainCanvas" width="0" height="0" canvasDrawing [isDesign]="isDesign" [eventListener]="mainCanvasListener.bind(this)">
          </canvas>
          <canvas style="margin-right:5px" id="verCanvas" width="0" height="0" canvasDrawing [isDesign]="!isDesign" [eventListener]="verCanvasListener.bind(this)">
          </canvas>
          <canvas id="verColorCanvas" width="0" height="0" (click)="verColorBarListener($event)">
          </canvas>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div *ngIf="loggedIn()" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveModalLabel">Save your canvas!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Enter the name for your canvas</p>
        <input #canvasName class="textboxHighlight" style="width:80%" type="text" id="canvasName" placeholder="Write canvas name here" maxlength="50" [(ngModel)]="visibleCanvasName" />
      </div>
      <div *ngIf="!saveSuccess">
        <p>You have too many saved canvases, one user can only save 10 canvases at a time</p>
        <p>Pleas remove one canvas from the list below</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveCanvas(canvasName.value)">Save changes</button>
      </div>
    </div>
  </div>
</div>