<nav>
  <a [routerLink]=" ['./'] " routerLinkActive="active">
    Home
  </a>
  <a [routerLink]=" ['./design']" routerLinkActive="active">
    Weave design
  </a>
  <a [routerLink]=" ['./maker']" routerLinkActive="active">
    Pattern maker
  </a>
  <a [routerLink]=" ['./help']" routerLinkActive="active">
    Help
  </a>
  <button (click)="login()" *ngIf="!loggedIn()">
        Login
      </button>
  <button (click)="logout()" *ngIf="loggedIn()">
        Logout
      </button>

      <div (click)="getEmail()">{{email}}</div>
</nav>
