<p>
  design works!
</p>
<div id="container">
</div>
<div id="canvasContainerUp">
    <canvas id="nwCanvas" width="102" height="102">
    </canvas>
    <canvas id="neCanvas" width="102" height="102">
    </canvas>
    <canvas id="horColorCanvas" width="102" height="102">
    </canvas>
</div>
<div id="canvasContainerDown">
    <canvas id="swCanvas" width="102" height="102">
    </canvas>
    <canvas id="seCanvas" width="102" height="102">
    </canvas>
    <canvas id="verColorCanvas" width="102" height="102">
    </canvas>
</div>
<button (click)="execute()">
  click me
</button>
