<header>
  <div class="center-block text-center">
    <h1>Weave design</h1>
    <h2>Insert logo here</h2>
  </div>
</header>
<article>
  <div class="text-center">
    <h2>What is weave design</h2>
    <p>Weave design is an application for weavers who are tired of drawing their designs on paper</p>
    <p>Here you can make your paperless dreams come true!</p>
    <p>If you are new around here, I suggest you head over to the <a [routerLink]=" ['/help']" routerLinkActive="active">help</a> section</p>
    <p>Or if you'd like, you can see the application in action at either the <a [routerLink]=" ['/design']" routerLinkActive="active">design</a> section or the <a [routerLink]=" ['/maker']" routerLinkActive="active">pattern maker</a> section</p>
  </div>
</article>
